
* {box-sizing:border-box;}
body {background:black;
	color:white;
	padding:0;
	margin:0;
	border:0;}
#mosaicContainer{width: 100%;
	background-color: blue;}

#targetImageContainer{position:absolute;}

#targetImageContainer img{width:100%;}	

.imageContainer {overflow:hidden;
	/*position:absolute;*/
	border:0;
	margin:auto;
	padding:0;
	z-index:10;
	width:fit-content;}
.col img {padding:0px;
	margin:0px;
	opacity:1;
	height:50px;
	width:50px;}
.row {width:fit-content;
	padding:0;
	margin:0;
	overflow: hidden;
	height: 50px}
/* Clear floats after image containers */
.row::after {clear: both;
	content: "";
	display:block;}
.col {float: left;
	padding: 0px;
	margin:0px;
	/*height:50px;*/
	}

.highlight-test {
	border-width: 5px;
	border-color: darkred;
	border-style: solid;
}