
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mosaic Maker</title>
    <meta name="description" content="PhotoMosaic Output" />
    <meta name="author" content="James McGlynn" />
    <link rel="stylesheet" href="{% static 'style/mosaic.css' %}" />
  </head>
  <body>

    <h2> Mosaic </h2>

    <div id="mosaicContainer">
      
      <!-- <div id="targetImageContainer">
        <img src="/media/mosaic/targets/BWSmile.png" />
      </div> -->
      
      <div class="imageContainer">

        {% for k, row in pieces_array %}  
          <div class="row" id="row-{{k}}">
        
            {% for i,j,col in row %}
              <div class="col" id="cell-{{i}}-{{j}}">
                <img src="{{col}}" />
              </div>
            {% endfor %}
        
          </div>
        {% endfor %} 
      </div>

    </div> 
  </body>
</html>

